# macOS
.DS_Store

# Jupyter notebooks
.ipynb_checkpoints
*.ipynb

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# MATLAB
*.m~

# Common binary data formats
*.nc
*.npz
*.npy
*.mat
*.bin

# Common figure formats
*.jpg
*.jpeg
*.png
*.tiff
*.eps
*.pdf
*.svg
*.gif

